<ul class="navbar-nav ml-auto">
    <li class="nav-item">
        <a href="{{ path('home') }}" class="nav-link">Accueil</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('new_article') }}" class="nav-link">Ajouter article</a>
    </li>
    <li class="nav-item">
        <a href="{{ path('new_category') }}" class="nav-link">Ajouter catégorie</a>
    </li>
</ul>
